[submodule "web/api"]
	path = web/api
	url = https://github.com/Signal-No-5/klima-api
[submodule "web/dashboard"]
	path = web/dashboard
	url = https://github.com/Signal-No-5/klima-lgu-dashboard
[submodule "app"]
	path = mobile
	url = https://github.com/Signal-No-5/klima-frontend
[submodule "web/docs"]
	path = web/docs
	url = https://github.com/Signal-No-5/klima-docs
