.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.tests/
tests/
*.egg-info/
.git/
.gitignore
.vscode/
.pre-commit-config.yaml
.env
.env.*
!.env.example
*.md
LICENSE
vercel.json
klima-api.db
local.db
**/__pycache__/
